.upper-part-h1, .upper-part-h1-1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.upper-part-img{
    border-radius: 100%;
    width: 18rem;
}
.mid-part-h3{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
}
.lower-part-h1{
    text-align: center;
}
.lower-part-btn{
    margin-top: 3rem;
    text-decoration: none;
    /* color: rgba(255, 255, 255, 0.8); */
    background: transparent;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.lower-part-btn:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(145,92,182,4);
}
